<!DOCTYPE html>
<html lang="ja">

<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Simple ToDo Application</title>
</head>

<body>
  <div style="display: flex; flex-direction: column; min-height: 80vh">
    <div class="container">
      {% block content %}
      <!-- メインコンテンツ -->
      {% endblock %}
    </div>
  </div>
  <br>
  <hr>
  <footer>
    <div>
      <p>Copyright &copy; massa423 All right reserves.</p>
      <p>Powered by FastAPI 0.61.2 &amp; starlette 0.13.6</p>
    </div>
  </footer>
</body>

</html>